{% extends "base.html" %}
{% set active_page = "search" %}
{% block head %}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap-sortable.css">
  <script src="//code.highcharts.com/4.0.1/highcharts.js"></script>
  <script src="//code.highcharts.com/4.0.1/highcharts-more.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
  <script src="/static/js/highcharts_generators.js"></script>
  <script src="/static/js/api_call_helper.js"></script>
  <script src="/static/js/table_generators.js"></script>
  <script src="/static/js/bootstrap-sortable.js"></script>
{% endblock %}
{% block content %}

  <div class="container-fluid">
    <div class="row" style='margin-bottom: 20px'>
     
      <div class='col-md-4'>
        <form class="form-inline" role="form">
          <input class='form-control datepicker' id='start_date_input'/>
          <input class='form-control datepicker' id='end_date_input' />
          <button class='btn btn-primary' id='validate-dates'>Go!</button>
        </form>
      </div>

      <div class="col-md-3">
        <div id="zoom-picker">
          <input type="radio" id="daily" value="day" name="radio" checked="checked" class="zoom">
          <label for="daily">Daily</label>
          <input type="radio" id="weekly" value="week" name="radio" class="zoom">
          <label for="weekly">Weekly</label>
          <input type="radio" id="monthly" value="month" name="radio" class="zoom">
          <label for="monthly">Monthly</label>
        </div>
      </div>

      <div class='col-md-5'>
        <h2 style='text-align:center;margin:0' id='country-title'></h2>
      </div>
    </div>

    <div class="row">
      <div class='col-md-12' id="chart-tabs">
        <ul>
          <li class='chart-tab' name='revenues'><a href="#tab-revenues">Revenues</a></li>
          <li class='chart-tab' name='visitors'><a href="#tab-visitors">Visitors</a></li>
          <li class='chart-tab' name='routes'><a href="#tab-routes">Routes</a></li>
        </ul>
        <div class="col-md-12" id="tab-revenues">
          <div id='revenues'></div>
        </div>
        <div class="col-md-12" id="tab-visitors">
          <div id='visitors'></div>
        </div>
        <div class="col-md-12" id="tab-routes">
          <div id='routes'></div>
        </div>
      </div>
    </div>

    <div class="row" style='margin-top: 25px'>
      <div class='col-md-12' id="table-tabs">
        <ul>
          <li class='table-tab' name='by_operator'><a href="#tab-by_operator">By operator</a></li>
          <li class='table-tab' name='by_source'><a href="#tab-by_source">By partner</a></li>
          <li class='table-tab' name='by_route'><a href="#tab-by_route">By route</a></li>
          <li class='table-tab' name='by_date'><a href="#tab-by_date">Over time</a></li>
        </ul>
        <div class="col-md-12" id="tab-by_operator">
          <div id="loader-by_operator"></div>
          <table class="table sortable table-striped table-bordered table-hover" id="by_operator"></table>
        </div>
        <div class="col-md-12" id="tab-by_source">
          <div id="loader-by_source"></div>
          <table class="table sortable table-striped table-bordered table-hover" id="by_source"></table>
        </div>
        <div class="col-md-12" id="tab-by_route">
          <div id="loader-by_route"></div>
          <table class="table sortable table-striped table-bordered table-hover" id="by_route"></table>
        </div>
        <div class="col-md-12" id="tab-by_date">
          <div id="loader-by_date"></div>
          <table class="table sortable table-striped table-bordered table-hover" id="by_date"></table>
        </div>
      </div>
    </div>
  </div>

  <script>
    var query = {
      'country': '{{country}}',
      'start_date': '{{ start_date }}',
      'end_date': '{{ end_date }}',
      'step': 'day'
    };

    var dimension;

    function getRevenuesData() {
      highchartsLoader('#revenues');
      $.get('/api/gross_revenues', query, function (gr) {
        $.get('/api/commissions', query, function (com) {
          drawTwoStackedBarTimeChart('#revenues', JSON.parse(com), JSON.parse(gr), true, 'Commissions', 'Gross revenues', 'Revenues');
        });
      });
    }

    function getVisitsData() {
      highchartsLoader('#visitors');
      $.get('/api/num_visits', query, function (vis) {
        $.get('/api/num_buyers', query, function (buy) {
          drawTwoStackedBarTimeChart('#visitors', JSON.parse(buy), JSON.parse(vis), true, 'Buyers', 'Visitors', 'Visitors');
        });
      });
    }

    function getRoutesData() {
      highchartsLoader('#routes');
      $.get('/api/num_visited_routes', query, function (vis) {
        $.get('/api/num_routes', $.extend({}, query, {active: true}), function (act) {
          drawTwoStackedBarTimeChart('#routes', JSON.parse(act), JSON.parse(vis), true, 'Routes sold', 'Routes visited', 'Routes');
        });
      });
    }

    function getDimensionData(step, frequency) {
      var dimension_query = {
        start_date: query.start_date,
        end_date: query.end_date,
        step: step,
        frequency: frequency,
        country: '{{country}}'
      }

      dimension_query.dimension = step ? null : dimension;

      $('#by_' + dimension).html(' ');
      highchartsLoader('#loader-by_' + dimension);
      getDimensionRecap(dimension_query, function (data) {
        if (step) drawReport(data, '#by_' + dimension, [], 'Metrics', false, false);
        else drawDimensionTable('#by_' + dimension, data, dimension);
        $('#loader-by_' + dimension).html(' ');
      });
    }

    function refreshCharts() {
      getRevenuesData();
      getVisitsData();
      getRoutesData();
    }

    function updateDimensionData(is_zoom) {
      if($('#tab-by_date[aria-hidden=false]').length == 1) {
        var freq = query.step == 'day' ? 'week' : null;
        getDimensionData(query.step, freq);
      } else if ($('#table-tabs div[aria-hidden=false]').length == 1 && !is_zoom) {
        getDimensionData();
      }
    }

    var country_codes = {};

    $(document).ready(function () {
      $('#start_date_input').val("{{ start_date }}");
      $('#end_date_input').val("{{ end_date }}");

      $( "#zoom-picker" ).buttonset();
      $( "#chart-tabs" ).tabs();
      $( "#table-tabs" ).tabs({
        collapsible: true,
        active: false
      });

      setDatePickerLogic('.datepicker', '#start_date_input', '#end_date_input', '.zoom', '#validate-dates');

      $.getJSON('/static/data/countries.json', function(countries) {
        for (c in countries) {
          country_codes[countries[c].name] = countries[c].code;
          if (countries[c]['code'] == '{{ country }}')
            $('#country-title').html(countries[c].name.toUpperCase());
        }
      });

      $('.table-tab').click(function() {
        dimension = $(this).attr('name').split('_')[1];
        updateDimensionData();
      });

      $('.chart-tab').click(function() {
        $(window).resize();
      });
      
      createInternalLinking();
      refreshCharts();
    });
  </script>

{% endblock %}